/HLMTools/HLMCopy
/HLMTools/LPlex
/HTKTools/HCopy
/HLMTools/LSubset
/HTKTools/HQuant
/HLMLib/HLMLib.a
/HLMLib/Makefile
/HLMTools/LLink
/HLMTools/LGList
/HTKTools/HSmooth
/HTKTools/HVite
/config.log
/HLMTools/Makefile
/HLMTools/LNewMap
/HLMTools/LMerge
/HLMTools/LGCopy
/HTKTools/HLRescore
/HTKLib/HTKLib.a
/HTKTools/HMMIRest
/Makefile
/config.status
/HTKLib/Makefile
/HLMTools/LAdapt
/HTKTools/HHEd
/HTKTools/HLEd
/HLMTools/LFoF
/HTKTools/HRest
/HTKTools/HDMan
/HTKTools/HBuild
/HTKTools/HList
/HTKTools/HCompV
/HLMTools/LBuild
/HTKTools/HERest
/HTKTools/HLStats
/HTKTools/HResults
/HTKTools/HSGen
/HTKTools/Makefile
/HLMTools/LNorm
/HTKTools/HInit
/HLMTools/LGPrep
/HLMTools/Cluster
/HTKLVRec/Makefile
/HTKTools/HParse
/HTKBook/htkbook.pdf
